body{
  background-image: url("backround.JPG");
}
h1{
  text-align:center;
}
#button1{
  border-radius:5px;
  background-color:white;
  color:black;
  height:150px;
  width:400px;
  font-size:20px
  position: relative;
  bottom: 30px;
  font-size:40px;
}
#button2{
  border-radius:5px;
  background-color:white;
  color:black;
  height:150px;
  width:400px;
  font-size:20px
  position: relative;
  bottom: 30px;
  font-size:40px;
}
#button3{
  border-radius:5px;
  background-color:white;
  color:black;
  height:150px;
  width:400px;
  font-size:20px
  position: relative;
  bottom: 30px;
  font-size:40px;
}
#button4{
  border-radius:5px;
  background-color:white;
  color:black;
  height:150px;
  width:400px;
  font-size:20px
  position: relative;
  bottom: 30px;
  font-size:40px;
}
#button5{
  border-radius:5px;
  background-color:white;
  color:black;
  height:150px;
  width:400px;
  font-size:20px
  position:relative;
  bottom: 30px;
  font-size:40px;
}
#button6{
  border-radius:5px;
  background-color:white;
  color:black;
  height:150px;
  width:400px;
  font-size:20px
  position: relative;
  bottom: 30px;
  font-size:40px;
}
#button7{
  border-radius:5px;
  background-color:white;
  color:black;
  height:150px;
  width:400px;
  font-size:20px
  position: relative;
  bottom: 30px;
  font-size:40px;
}
#button8{
  border-radius:5px;
  background-color:white;
  color:black;
  height:150px;
  width:400px;
  font-size:20px
  position: relative;
  bottom: 30px;
  font-size:40px;
}
#button9{
  border-radius:5px;
  background-color:white;
  color:black;
  height:150px;
  width:400px;
  font-size:20px
  position: relative;
  bottom:30px;
  font-size:40px;
}
