body{
    background-color: aliceblue;
    font-family: Georgia, serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    text-align:center
}

h2 {
    font-size: 1.2rem;
    text-align: center;
}

p {
    line-height: 1.3rem;
    text-align: center;
}

#author {
    font-size: 1.1rem;
    text-align: center;
    font-style: italic;
}
